@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/hero-buttons';

@include nb-install-component() {
    
    nb-card {
        margin-left: 2rem;        
    
    }

    .separa {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        min-width: 250px;
        max-width: 300px;
    }



    .contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: nb-theme(color-fg);
        padding: 1rem;

        &:not(:last-child) {
        border-bottom: 1px solid nb-theme(separator);
        }

    }


    .icon-container {
        height: 100%;
        padding: 0.625rem;
    }

    img {
        max-width:75px;
        max-height:75px;
    }

    .details {
        padding-left: 1.25rem;
    }

}
