<nb-card>
    <nb-card-body>
        <div class="row">
            <div class="col-md-10">
                <nb-user [picture]="imagem" [name]="nome" [title]="data" size="large"></nb-user>
            </div>
            <div class="col-md-2">
                visualizado    
            </div>
        </div>    
        <div class="row">
            <br>
            <div class="col-md-2">
                icone    
            </div>
            <div class="col-md-10">
            Lorem ipsum dolor sit amet, mei affert oportere persequeris ea, errem ponderum mea ad. Eum eu option efficiantur, minimum indoctum cu sed, his viderer nominavi ei. Ei per consequat definitionem, ne sonet mollis sit. Tantas hendrerit pro id, id inani posidonium est. Cu has noster legendos deserunt, reque propriae ne has. Aperiam singulis vim ad. Integre suavitate dissentiunt ut usu, diam ridens cotidieque est ad, an per eius interesset.

Vim nobis animal suscipit at, no nostro minimum consectetuer mea. Cu mel periculis prodesset, an dicunt scripserit definitiones sea, malorum percipit praesent nec ea. Ad sit nusquam laboramus liberavisse. Per ut omittantur ullamcorper, at mea dicta laudem praesent, utroque vivendo signiferumque at sea. Suas cetero discere has an, eu dolorem nostrum dignissim vel.

Eam sonet possim tincidunt cu, et vis scripta tritani, consul mucius gubergren no nec. Unum mediocrem consequuntur ad quo, fugit facilisis ea eum, ne eam iisque persius constituto. Ut harum mollis propriae pri. Cu eos debet causae debitis.

Per ex velit fuisset imperdiet. Nec case elaboraret ne, id his alii definitiones. Sit ut alterum alienum, alienum suscipit ex est. Quo mutat dicit at, ei pro doctus consulatu.

Est et suas nihil, ei corrumpit gloriatur consequuntur eos. Qui ad zril utroque, ad solum assum constituam eum, sit dictas equidem at. Partem volumus vituperatoribus qui in, ei delicata petentium vel, voluptaria disputando cu mei. Te mei rebum debet principes, eu sit aperiri alterum. Ad brute primis per, ancillae insolens has cu.
            </div>
        </div>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-1">Comentários</div>
            <div class="col-md-1"></div>
        </div>
    <nb-card-body>
<nb-card>