<nb-card>
    <nb-card-body>
        <div class="row">
            <div class="col-md-10" (click)="iniciarConsulta(idCliente)">
                <nb-user [picture]="imagem" [name]="nome" [title]="data| date: 'dd/MM/yyyy hh:mm'" size="large"></nb-user>
            </div>
            <div class="col-md-2">
                <img [src]="visualizadoIcon" height="20" width="20" (click)="visualizadoClick()" style="float:right;">     
            </div>
        </div> 
        <div class="row topBody">
            <br>
            <div class="col-md-1">
                <img [src]="tipoIcon" height="40" width="40">   
            </div>
            <div class="col-md-11">
                {{texto}}
            </div>
        </div>
        <div class="row">
             <br>
            <div class="col-md-1">
                    
            </div>
            <div class="col-md-11" (click)="abrirDetalhesDePostagem()">
                <img *ngIf="imagemPost" [src]="imagemPost" class="img imgPost">
            </div>
        </div>
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3" (click)="abrirDetalhesDePostagem()"><br><label style="float:right; ">{{qtdComentarios}}</label></div>
        </div>
    </nb-card-body>
</nb-card>