<div class="row">
        <div class="col-12 col-md-8">
                <nb-card>
                    <nb-card-header>Paciente</nb-card-header>
                    <nb-card-body>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" placeholder="Paciente" class="form-control input-group"/>
                                    <div class="row full-name-inputs">
                                        <div class="col-sm-4 input-group">
                                            <input type="text" placeholder="Peso (kg)" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4 input-group">
                                            <input type="text" placeholder="Altura (m)" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4 input-group">
                                            <input type="text" placeholder="% de gordura" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                asdasvas asd asd a
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 input-group">
                                <input type="text" placeholder="Deficiências" class="form-control"/>
                            </div>
                            <div class="col-md-12 input-group">
                                <input type="text" placeholder="Excessos" class="form-control"/>
                            </div>
                            <div class="col-md-12 input-group">
                                <input type="text" placeholder="Observações" class="form-control"/>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
    </div>
