<div class="row">
    <div class="col-12 col-md-10">
        <div class="row">
            <div>
                <h1>Consulta</h1>
            </div>
        </div>
       
        <!-- Caso não tenho selecionado o paciente exibe este card que é usado para busca o paciente-->
        <nb-card *ngIf="!selecionouPaciente">
            <nb-card-body>
                <div class="input-group">
                    <label>Para iniciar a consulta selecione um paciente: </label>
                    <div class="input-group">
                        <input type="text" [(ngModel)]="pacienteSelecionado" class="form-control" placeholder="Insira o nome do paciente">
                            <span class="input-group-append">
                                <button class="btn btn-success btn-demo" (click)="buscarPacientes(pacienteSelecionado)">
                                    Buscar
                                </button>
                            </span>
                    </div>
                    <div class="col-md-12">
                        <nb-tabset fullWidth>  
                            <nb-tab tabTitle="Resultados">   
                                <div class="contact" *ngFor="let c of listaDeClientesBusca">
                                    <nb-user [picture]="c.foto" [name]="c.nome" [title]="c.email" size="large"></nb-user>
                                    <button class="btn btn-success btn-demo"  (click)="usuarioSelecionado(c._id)">Selecionar</button>
                                </div>   
                            </nb-tab>    
                        </nb-tabset> 
                    </div>
                </div>
            </nb-card-body>
        </nb-card>

        <!-- Informações da antropometria-->
        <nb-card *ngIf="selecionouPaciente">
            <nb-card-body>
                <div class="row">
                    <div class="col-md-8">
                        <div class="input-group">               
                            <div class="row full-name-inputs">
                                <div class="col-md-4">
                                    <div class="">
                                        <label>Peso (kg) {{peso}}</label>
                                        <input [(ngModel)]="peso" (keyup)="calculaIMC()" type="number" placeholder="KG" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="">
                                        <label>Altura (m)</label>
                                        <input [(ngModel)]="altura" (keyup)="calculaIMC()" type="number" placeholder="metros" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="">
                                        <label>% de gordura</label>{{gordura}}
                                        <input [(ngModel)]="gordura" (keyup)="calculaIMC()" type="number" placeholder="%" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 input-group">
                                <div class="col">
                                    <label>Peso Ideal (kg)</label>
                                    <input readonly [(ngModel)]="pesoIdeal" type="number" placeholder="KG" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-md-6 input-group">
                                <div class="col">
                                    <label>IMC</label>
                                    <input readonly [(ngModel)]="imc" type="number" placeholder="KG" class="form-control"/>
                                </div>
                            </div>   
                        </div>
                    </div>
                    <div class="col-md-4"> 
                            <div>
                                <nb-user [picture]="cliente.foto" [name]="cliente.nome" [title]="cliente.email" size="xlarge"></nb-user>
                                <br>
                                <button class="btn btn-success btn-semi-round btn-demo" (click)="showModelAnamnese(cliente._id)">Ver Anamnese</button>
                                <button class="btn btn-danger btn-semi-round btn-demo" (click)="cancelaAnamnese()">Cancelar</button>
                            </div>          
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12 input-group">
                        <div class="col">
                            <label>Deficiências</label>
                            <input type="text" placeholder="Ex: Vitamina C" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-12 input-group">
                        <div class="col">
                            <label>Excessos</label>
                            <input type="text" placeholder="Excessos" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-12 input-group">
                        <div class="col">
                            <label>Observações</label>
                            <input type="text" placeholder="Observações" class="form-control"/>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
