.card-attributes {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.card-attributes:hover {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #dfe3ea;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: nb-theme(color-fg);
    padding: 1rem;

    &:not(:last-child) {
      border-bottom: 1px solid nb-theme(separator);
    }
  }

  .i-contact {
    font-size: 2rem;
    cursor: pointer;
  }
  
  .margemTop{
      margin-top: 15px;
  }
  
  
.pointer{
    cursor: pointer;
}
  