<div class="modal-header">
    <span>Postagem</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
<nb-card>
        <nb-card-body>
            <div class="row">
                <div class="col-md-12">
                    <nb-user [picture]="imagem" [name]="nome" [title]="data| date: 'dd/MM/yyyy hh:mm'" size="large"></nb-user>
                </div>
            </div>    
            <div class="row topBody">
                <br>
                <div class="col-md-1">
                    <img [src]="tipoIcon" height="40" width="40">   
                </div>
                <div class="col-md-11">
                    {{texto}}
                </div>
            </div>
            <div class="row">
                 <br>
                <div class="col-md-1">
                        
                </div>
                <div class="col-md-11">
                    <img *ngIf="imagemPost" [src]="imagemPost" class="img imgPost">
                </div>
            </div>
            <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3"><br><label style="float:right; ">{{qtdComentarios}}</label></div>
                </div>
            <hr>
    
    
            <ngx-comentario-card *ngFor="let comentario of listaComentarios" [comentario]="comentario"></ngx-comentario-card>
        
    
            <div class="row">
    
                <nb-user [picture]="nutricionista.foto" [name]="nutricionista.nome"  size="tiny"></nb-user>
            
                <div class="col-md-11 topBody"><textarea rows="2" [(ngModel)]="comentario" [class.form-control-danger]="validadorComentario" placeholder="Escreva um comentário" class="form-control"></textarea></div>
                <div class="col-md-1 topBody"><img class="topBody" src="assets/images/othersIcons/send.png" height="40" width="40" (click)="enviarComentario()"> </div>
                
            </div>
        </nb-card-body>
    </nb-card>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-semi-round btn-demo" (click)="closeModal()">Fechar</button>
</div>