<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div>
                <h1>Postagens</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <ngx-postagem-card></ngx-postagem-card>
                <ngx-postagem-card></ngx-postagem-card>
                <ngx-postagem-card></ngx-postagem-card>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                filtros
            </div>
        </div>
    </div>
</div>
