<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div>
                <h1>Postagens</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <ngx-postagem-card *ngFor="let postagem of listaPostagens" [postagem]="postagem"></ngx-postagem-card>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="row">
                    <label><img src="assets/images/othersIcons/filter.png"  max-height="80" max-width="80" width="60"> </label>
                    <h2><label style="padding-left: 20px; margin-top: 10px;">Filtros</label></h2>
                </div>
                <div class="row">
                    <button [class.btn-success]="filtroAlimento" class="btn btn-success btn-block" (click)="filtroAlimentoClicked()">Alimentação</button>  
                    <button [class.btn-success]="filtroExercicio" class="btn btn-success btn-block" (click)="filtroExercicioClicked()">Exercícios</button>
                    <button [class.btn-success]="filtroDuvidas" class="btn btn-success btn-block" (click)="filtroDuvidaClicked()">Dúvidas</button>
                   
                    <h6><label style="padding-left: 20px; margin-top: 10px;">Postagens:</label></h6>
                    <button [class.btn-success]="filtroVisualizadas" class="btn btn-success btn-block" (click)="filtroVizualizadoClicked()" >Visualizadas</button>
                    <button [class.btn-success]="filtroNaoVisualizadas" class="btn btn-success btn-block" (click)="filtroNaoVisualizadoClicked()" >Não Visualizadas</button>
                </div>
            </div>
        </div>
    </div>
</div>
