<div class="modal-header">
    <span>Anamnese</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-6">
        <div *ngIf="cliente">
          <div><nb-user [picture]="cliente.foto" [name]="cliente.nome" [title]="cliente.email" size="xlarge"></nb-user></div>
          <br>
          <div><label>Data de Nascimento<div class="detail font-w-light">{{cliente.data_nascimento | date: 'dd/MM/yyyy'}}</div></label></div>
          <div><label>Sexo <div class="detail font-w-light">{{cliente.sexo}}</div></label></div>
          <div><label>Objetivo <div class="detail font-w-light">{{cliente.objetivo}}</div></label></div>
          <div><label>Telefone: <div class="detail font-w-light">{{cliente.telefone}}</div></label></div>    
        </div>
      </div>
      <div class="col-lg-6">
        <div  *ngIf="consumos" >
          <h3>Alimentos consumidos</h3>
          <div *ngFor="let consumo of consumos">
              <ngx-consumo-card [tipo]="consumo.tipo" [sentimento]="consumo.sentimento" [descricao]="consumo.texto" [comentario]="consumo.observacao" [data]="consumo.data"></ngx-consumo-card>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-md btn-primary" (click)="closeModal()">Save changes</button>
  </div>