<div class="modal-header">
    <span>Anamnese</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-6">
        <div *ngIf="cliente">
          <p><nb-user [picture]="cliente.foto" [name]="cliente.nome" [title]="cliente.email" size="xlarge"></nb-user></p>
          <p><label>Data de Nascimento: {{cliente.data_nascimento | date: 'dd/MM/yyyy'}}</label></p>
          <p><label>Sexo: {{cliente.sexo}}</label></p>
          <p><label>Objetivo: {{cliente.objetivo}}</label></p>
          <p><label>Telefone: {{cliente.telefone}}</label></p>    
        </div>
      </div>
      <div class="col-lg-6">
        <div  *ngIf="consumos" >
          <div *ngFor="let consumo of consumos">
              <ngx-consumo-card [tipo]="consumo.tipo" [sentimento]="consumo.sentimento"></ngx-consumo-card>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-md btn-primary" (click)="closeModal()">Save changes</button>
  </div>