<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div>
                <h1>Pacientess</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <ngx-anamnese-card  *ngFor="let cliAnam of consultasPendentes"
                                    [clienteAnamnese]="cliAnam">
                    </ngx-anamnese-card>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <label><img src="assets/images/mealIcons/breakfastIcon.png"  max-height="60" max-width="60" width="40"> </label>
                    <label>Filtro</label>
                </div>
            </div>
        </div>
    </div>
</div>

