<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div>
                <h1>{{title}}</h1>
            </div>
        </div>

        <nb-card *ngIf="!selecionouPaciente">
            <nb-card-body>
                <div class="input-group">
                    <label>Digite o nome de uma pessoa para ver seu perfil: </label>
                    <div class="input-group">
                        <input type="text" [(ngModel)]="pacienteSelecionado" class="form-control" placeholder="Insira o nome do paciente">
                            <span class="input-group-append">
                                <button class="btn btn-success btn-demo" (click)="buscarPacientes(pacienteSelecionado)">
                                    Buscar
                                </button>
                            </span>
                    </div>
                    <div class="col-md-12">
                        <nb-tabset fullWidth>  
                            <nb-tab tabTitle="Resultados">   
                                <div class="contact" *ngFor="let c of listaDeClientesBusca">
                                    <nb-user [picture]="c.foto" [name]="c.nome" [title]="c.email" size="large"></nb-user>
                                    <button class="btn btn-success btn-demo"  (click)="usuarioSelecionado(c._id)">Selecionar</button>
                                </div>   
                            </nb-tab>    
                        </nb-tabset> 
                    </div>
                </div>
            </nb-card-body>
        </nb-card>

        <div class="row" *ngIf="selecionouPaciente">
            <div class="col-md-6">
                <nb-card>
                    <nb-card-header>
                        Informações
                    </nb-card-header> 
                    <nb-card-body>
                            <div><nb-user [picture]="cliente.foto" [name]="cliente.nome" [title]="cliente.email" size="xlarge"></nb-user></div>
                            <br>
                            <div><label>Data de Nascimento<div class="detail font-w-light">{{cliente.data_nascimento | date: 'dd/MM/yyyy'}}</div></label></div>
                            <div><label>Sexo <div class="detail font-w-light">{{cliente.sexo}}</div></label></div>
                            <div><label>Objetivo <div class="detail font-w-light">{{cliente.objetivo}}</div></label></div>
                            <div><label>Telefone: <div class="detail font-w-light">{{cliente.telefone}}</div></label></div>    
                    </nb-card-body>
                </nb-card>
            </div>

            <div class="col-md-6">

            </div>
        </div>

        

    </div>
</div>