<div class="row">
    <div class="col-md-12">
        
        <div  class="row">
            <div class="col-md-11"><h1>{{title}}</h1></div>
            <div class="col-md-1" *ngIf="selecionouPaciente"><button class="btn btn-danger btn-semi-round btn-demo margemUsuario" (click)="cancelaAnamnese()">X</button></div>
        </div>
        

        <nb-card *ngIf="!selecionouPaciente">
            <nb-card-body>
                <div class="input-group">
                    <label>Digite o nome de uma pessoa para ver seu perfil: </label>
                    <div class="input-group">
                        <input type="text" [(ngModel)]="pacienteSelecionado" class="form-control" placeholder="Insira o nome do paciente">
                            <span class="input-group-append">
                                <button class="btn btn-success btn-demo" (click)="buscarPacientes(pacienteSelecionado)">
                                    Buscar
                                </button>
                            </span>
                    </div>
                    <div class="col-md-12">
                        <nb-tabset fullWidth>  
                            <nb-tab tabTitle="Resultados">   
                                <div class="contact" *ngFor="let c of listaDeClientesBusca">
                                    <nb-user [picture]="c.foto" [name]="c.nome" [title]="c.email" size="large"></nb-user>
                                    <button class="btn btn-success btn-demo"  (click)="usuarioSelecionado(c._id)">Selecionar</button>
                                </div>   
                            </nb-tab>    
                        </nb-tabset> 
                    </div>
                </div>
            </nb-card-body>
        </nb-card>

        <div class="row" *ngIf="selecionouPaciente">
            <div class="col-md-6">
                <nb-card>
                    <nb-card-header>
                        Informações
                    </nb-card-header> 
                    <nb-card-body>
                            <div><nb-user [picture]="cliente.foto" [name]="cliente.nome" [title]="cliente.email" size="xlarge"></nb-user></div>
                            <br>
                            <div><label>Data de Nascimento<div class="detail font-w-light">{{cliente.data_nascimento | date: 'dd/MM/yyyy'}}</div></label></div>
                            <div><label>Sexo <div class="detail font-w-light">{{cliente.sexo}}</div></label></div>
                            <div><label>Objetivo <div class="detail font-w-light">{{cliente.objetivo}}</div></label></div>
                            <div><label>Telefone: <div class="detail font-w-light">{{cliente.telefone}}</div></label></div>    
                    </nb-card-body>
                </nb-card>

                <nb-card>
                    <nb-card-header>
                        Postagens de {{cliente.nome}}
                    </nb-card-header> 
                    <nb-card-body>
                        <ngx-perfil-postagem-card *ngFor="let postagem of listaPostagens" [postagem]="postagem"></ngx-perfil-postagem-card> 
                    </nb-card-body>
                </nb-card>


            </div>

            <div class="col-md-6">
                <nb-card *ngIf="exibirCardCardapio">
                    <nb-card-header>
                        Cardapio
                    </nb-card-header> 
                    <nb-card-body >
                        <div *ngIf="cardapioCafeManha" class="margemCardapios">
                            <div class="row">
                                <img src="assets/images/mealIcons/breakfastIcon.png" height="30" width="30">
                                <h4 class="margemTopzera">{{cardapioCafeManha.tipo}}</h4>
                            </div>
                            <div class="row" *ngFor="let c of cardapioCafeManha.composicoes">
                                    <label>Opte por até <b> {{c.quantidade}} </b> de alimentos do grupo <b> {{c.grupo.titulo}}</b> </label>
                            </div>
                        </div>
                        
                        <div *ngIf="cardapioLancheManha" class="margemCardapios">
                            <div class="row">
                                <img src="assets/images/mealIcons/snackIcon.png" height="30" width="30">
                                <h4 class="margemTopzera">{{cardapioLancheManha.tipo}}</h4>
                            </div>
                            <div class="row" *ngFor="let c of cardapioLancheManha.composicoes">
                                    <label>Opte por até <b> {{c.quantidade}} </b> de alimentos do grupo <b> {{c.grupo.titulo}}</b> </label>
                            </div>
                        </div> 

                        <div *ngIf="cardapioAlmoco" class="margemCardapios">
                            <div class="row">
                                <img src="assets/images/mealIcons/lunchIcon.png" height="30" width="30">
                                <h4 class="margemTopzera">{{cardapioAlmoco.tipo}}</h4>
                            </div>
                            <div class="row" *ngFor="let c of cardapioAlmoco.composicoes">
                                    <label>Opte por até <b> {{c.quantidade}} </b> de alimentos do grupo <b> {{c.grupo.titulo}}</b> </label>
                            </div>
                        </div> 

                        <div *ngIf="cardapioLanche" class="margemCardapios">
                            <div class="row">
                                <img src="assets/images/mealIcons/snackIcon.png" height="30" width="30">
                                <h4 class="margemTopzera">{{cardapioLanche.tipo}}</h4>
                            </div>
                            <div class="row" *ngFor="let c of cardapioLanche.composicoes">
                                    <label>Opte por até <b> {{c.quantidade}} </b> de alimentos do grupo <b> {{c.grupo.titulo}}</b> </label>
                            </div>
                        </div> 

                        <div *ngIf="cardapioJanta" class="margemCardapios">
                            <div class="row">
                                <img src="assets/images/mealIcons/dinnerIcon.png" height="30" width="40">
                                <h4 class="margemTopzera">{{cardapioJanta.tipo}}</h4>
                            </div>
                            <div class="row" *ngFor="let c of cardapioJanta.composicoes">
                                    <label>Opte por até <b> {{c.quantidade}} </b> de alimentos do grupo <b> {{c.grupo.titulo}}</b> </label>
                            </div>
                        </div> 

                        <button class="btn btn-success btn-block" (click)="alterarCardapio()">Editar Cardápio</button>

                    </nb-card-body>
                </nb-card>
                
                <nb-card *ngIf="exibirCardCardapio">
                    <nb-card-header>
                        Histórico de consultas
                    </nb-card-header> 
                    <nb-card-body >
                        <div  *ngFor="let c of consultas" class="row espacinho">
                            <div class="col-md-9"><label class="textoCentro">{{c.data | date: 'dd/MM/yyyy hh:mm'}}</label></div>
                            
                            <div class="col-md-3"> <button class="btn btn-success" (click)="verConsulta(c)" >Ver consulta</button></div>
                            <hr>
                        </div> 
                    </nb-card-body>
                </nb-card>
                
            </div>

            
        </div>

        

    </div>
</div>