<nb-card>
    <nb-card-body>
        <div class="row">
            <div class="col-md-10">
                <nb-user [picture]="imagem" [name]="nome" [title]="data" size="large"></nb-user>
            </div>
            <div class="col-md-2">
                visualizado    
            </div>
        </div>    
        <div class="row">
            <br>
            <div class="col-md-1">
                icone    
            </div>
            <div class="col-md-11">
            Lorem ipsum dolor sit amet, mei affert oportere peris prodesset, an dicunt scripserit definitiones sea, malorum percipit praesent nec ea. Ad sit nusquam laboramus liberavisse. Per ut omittantur ullamcorper, at mea dicta laudem praesent, utroque vivendo signiferumque at sea. Suas cetero discere has an, eu dolorem nostrum dignissim vel.
            </div>
        </div>
        <div class="row">
             <br>
            <div class="col-md-1">
                    
            </div>
            <div class="col-md-11">
                <img [src]="imagemPost" class="img">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-1"><br><label>comentários</label></div>
            <div class="col-md-1"></div>
        </div>
    <nb-card-body>
<nb-card>