img {
    border-radius: 0.375rem;
    margin-left: 10px;
}

.imgPost{
    max-height: 300px;
}

.comment{
    float: right;
}

.topBody{
    margin-top: 10px;
}

.col-md-11{
    padding-left: 0px !important;
}

.espacinho{
    margin-left: 4px;
}

.pointer{
    cursor: pointer;
}